@use "sass:list";

@import "variables";
@import "navbar";
@import "product";

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}
.application {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 60px 10px 10px 10px;
}
.productContainer {
  $col-count: (
    "1024px": 4,
    "768px": 3,
    "480px": 2,
  );
  $row-size: 320;

  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-auto-rows: $row-size + 'px';

  @each $size, $count in $col-count {
    @media (max-width: $size) {
      grid-template-columns: repeat($count, 2fr);
      grid-auto-rows: ($row-size - (5-$count)) + 'px';
    }
  }
}
.Toastify__toast--error {
  background: #b00020 !important;
}
.Toastify__toast {
  border-radius: 7.5px !important;
  font-family: $font-secondary;

  button {
    padding-left: 5px !important;
  }
}
button {
  cursor: pointer;
}
i.loading {
  animation: loading 0.75s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
